version: '2.0'
# 95.213.235.166
services:
  accounts-service:
    container_name: account-service
    domainname: account-service
    build: .
    ports:
      - "8080:8080"
#    volumes:
#      - .:/code
#      - logvolume01:/var/log
    links:
      - postgres
#      - kafka
    environment:
      PG_HOST: account-service
      PG_PORT: 5432
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: accounts
      POSTGRES_PASSWORD: pgpwd
    ports:
    - "5432:5432"
#  kafka:
#    image: kafkamanager/kafka-manager
#    environment:
#      KAFKA_CREATE_TOPICS: "transactions:1:1,wallet:1:1"
#    ports:
#      - "9092:9092"
#volumes:
#  logvolume01: {}