version: '2.0'
# 95.213.235.166

networks:
  srv-net:

services:

  accounts-service:
    container_name: account-service
    hostname: account.service
    build: .
    ports:
      - "8080:8080"
    links:
      - postgres
#      - kafka
    environment:
      PG_HOST: postgres.service
      PG_PORT: 5432
    networks:
      srv-net:
        aliases:
          - account.service

  postgres:
    image: postgres
    hostname: postgres.service
    environment:
      POSTGRES_DB: accounts
      POSTGRES_PASSWORD: pgpwd
    networks:
      srv-net:
        aliases:
          - postgres.service

  kafka:
    image: kafkamanager/kafka-manager
    hostname: kafka.service
    environment:
      KAFKA_CREATE_TOPICS: "transactions:1:1,wallet:1:1"
    networks:
      srv-net:
        aliases:
          - kafka.service

#    ports:
#      - "9092:9092"
#volumes:
#  logvolume01: {}
