version: '2.0'
# 95.213.235.166

networks:
  srv-net:

services:

  accounts-service:
    container_name: account-service
    hostname: account.service
    build: .
    ports:
      - "8080:8080"
    links:
      - postgres
    #      - kafka
    environment:
      PG_HOST: postgres.service
      PG_PORT: 5432
    networks:
      srv-net:
        aliases:
          - account.service

  postgres:
    image: postgres
    hostname: postgres.service
    environment:
      POSTGRES_DB: accounts
      POSTGRES_PASSWORD: pgpwd
    networks:
      srv-net:
        aliases:
          - postgres.service

  kafka:
    image: wurstmeister/kafka
    hostname: kafka.service
    ports:
      - "9092:9092"
    environment:
      KAFKA_CREATE_TOPICS: "transactions:1:1,wallet:1:1"
      KAFKA_ADVERTISED_HOST_NAME: kafka.service
      KAFKA_ZOOKEEPER_CONNECT: zk.service:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      srv-net:
        aliases:
          - kafka.service

  zookeeper:
    image: wurstmeister/zookeeper
    hostname: zk.service
    ports:
      - "2181:2181"
    networks:
      srv-net:
        aliases:
          - zk.service

#volumes:
#  logvolume01: {}
